html {
    font-family: 'Mulish', sans-serif;
    text-align: center;
}

div.navbar {
    height: auto;
    overflow: hidden;
}

div.navbar > div {
    float: left;
    padding-left: 10px;
}

.grid-container {
    position: static;
	display: grid;
}

.row {
    float: left;
}

.column {
    float: left;
}

.navbar {
    text-align: left;
}